{% extends 'base.html' %}

{% block title %}
Show Students
{% endblock title%}

{% block content %}
<!-- STUDENT TABLE -->
<section id="list" class="section">
    <h2>Student List</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Photo</th>
            <th>Action</th>
        </tr>

        {% for student in students %}
        <!-- Static sample rows (no JS) -->
        <tr>
            
            <td>"{{student.name}}"</td>
            <td>"{{student.email}}"</td>
            <td><img src="{{student.image.url}}" width="60"></td>
            <td>
                <a href="{% url 'edit_student' %}">Edit</a>
                <a href="{% url 'view_student' student.id %}">View</a>
                <a href="{% url 'delete_student' student.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}



    </table>
</section>
{% endblock content%}